.img-thumbnail {
    width: 100px;
    margin: 10px 0;
}

.card {
    box-shadow: 2px -3px 14px #ccc;
}

.signup-text {
    color: white;
}

.signup-text h1 {
    font-size: 2.7rem;
    font-weight: bold;
}

.signup-text p {
    color: rgba(255,255,255,0.5);
    font-size: 1rem;
}

.signup {
    background: #1c74fe;
    color: white;
}

.register-btn {
    background: #006fd3;
    border: 1px solid #ffffff;
    color: #fff;
    padding: 12px 2.1rem;
    font-weight: bold;
    font-size: 1.2em;
}

.lists {
    list-style-type: none;
    text-align: left;
    margin: 1.3rem 0;
}

.lists li {
    margin: 1rem 0;
    font-size: 1rem;
    color: rgba(0,0,0,0.5)
}

#virasat {
    display: flex;
    align-items: center;
    text-align: left;
}